# --- Basura de Sistema ---
.DS_Store
Thumbs.db

# --- Logs y Archivos Temporales ---
*.log
npm-debug.log*

# --- Dependencias (La carpeta más pesada del universo) ---
node_modules/
package-lock.json

# --- Compilación y Builds ---
dist/
build/
.expo/
web-build/

# --- Variables de Entorno (Claves secretas) ---
.env
.env.local